.navbar {  
  padding: 50px 0px 20px;
  width: 70%;
  margin: auto;
  @media only screen and (max-width: 1720px){
    width: 80%;
  }
  @media only screen and (max-width: 1510px){
      width: 95%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }      
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .btn-register{
    float: right;
    margin-left: 20px;
    border-radius: 30px;
    background-color: #13161b;
    padding: 15px 30px;
    border: 1px solid #43484e;
    cursor: pointer;
    a {
      padding: 0px;
    }
  }
}